---
import type { CollectionEntry } from 'astro:content';
import Card from './Card.astro';

interface Props {
  post: CollectionEntry<'blog'>;
  header?: string;
}

const { post, header } = Astro.props;
const { title, description, publishedDate, thumbnail } = post.data;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'UTC',
}).format(publishedDate);
---

<a
  href={`/blog/${post.id}`}
  aria-label={`Go to blog post titled ${title}`}
  class="h-full"
>
  <Card removeGap class="h-full" header={header ?? title}>
    <div class="flex flex-1 flex-col gap-1 p-2">
      <div
        class="h-48 w-full bg-cover bg-center"
        style={`background-image: url(${thumbnail})`}
      >
      </div>
      <p class="mt-2 text-sm">{formattedDate}</p>
      <h3 class="mb-1 text-xl leading-tight font-bold group-hover:underline">
        {title}
      </h3>
      <p class="text-sm text-slate-600">{description}</p>
    </div>
  </Card>
</a>
