---
import BaseLayout from './BaseLayout.astro';
import Card from '../components/Card.astro';
import Giscus from '../components/Giscus.astro';

interface Props {
  title: string;
  description?: string;
  publishedDate: Date;
  thumbnail?: string;
  tags?: string[];
}

const { title, description, publishedDate, thumbnail, tags } = Astro.props;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'UTC',
}).format(publishedDate);
---

<BaseLayout
  title={title}
  description={description}
  ogImage={thumbnail}
  ogType="article"
>
  <Card header={title} class="mb-24">
    <article>
      <h1 class="sr-only">{title}</h1>

      <!-- Thumbnail -->
      <div
        class="mb-6 aspect-video w-full bg-cover bg-center"
        style={`background-image: url(${thumbnail})`}
      >
      </div>

      <!-- Date -->
      <div class="text-sm leading-6">
        <dl>
          <dt class="sr-only">Date</dt>
          <dd class="text-slate-700">
            <time datetime={publishedDate.toISOString()}>{formattedDate}</time
            >
          </dd>
        </dl>
      </div>

      <!-- Content -->
      <div class="content prose mt-4 max-w-none">
        <slot />
      </div>

      <!-- Tag Pills -->
      {
        tags && tags.length > 0 && (
          <div class="mt-8 flex flex-wrap gap-2">
            {tags.map((tag) => (
              <span class="flex shrink-0 items-center gap-1 border border-slate-300 bg-white px-2 py-1 text-sm">
                {tag}
              </span>
            ))}
          </div>
        )
      }

      <!-- Comments -->
      <Giscus />
    </article>
  </Card>
</BaseLayout>
