---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description?: string;
  publishedDate: Date;
  thumbnail?: string;
  tags?: string[];
}

const { title, description, publishedDate, thumbnail, tags } = Astro.props;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'UTC',
}).format(publishedDate);
---

<BaseLayout
  title={title}
  description={description}
  ogImage={thumbnail}
  ogType="article"
>
  <article class="mb-24">
    <!-- Thumbnail -->
    <div
      class="my-10 aspect-video w-full rounded bg-cover bg-center"
      style={`background-image: url(${thumbnail})`}
    >
    </div>

    <!-- Title -->
    <h1
      class="font-mono text-2xl font-extrabold tracking-tight text-slate-900 md:text-3xl"
    >
      {title}
    </h1>

    <!-- Date -->
    <div class="text-sm leading-6">
      <dl>
        <dt class="sr-only">Date</dt>
        <dd class="text-slate-700">
          <time datetime={publishedDate.toISOString()}>{formattedDate}</time>
        </dd>
      </dl>
    </div>

    <!-- Content -->
    <div class="content prose mt-8 max-w-none">
      <slot />
    </div>

    <!-- Tag Pills -->
    {
      tags && tags.length > 0 && (
        <div class="mt-16 flex flex-wrap gap-2">
          {tags.map((tag) => (
            <span class="flex shrink-0 items-center gap-1 rounded border bg-white px-2 py-1 text-sm">
              {tag}
            </span>
          ))}
        </div>
      )
    }
  </article>
</BaseLayout>
